.formContainer
    .formBlock
        form(action="/")
            h2.form__title= "Войти в аккаунт"

            | !{inputLogin}

            | !{inputPassword}

            .form__item.form__itemSubmit

                | !{button}

        .links
            | !{linkToRegistration}

            | !{profileLink}
